# -- Symfony2 -----------------------------------------
app/bootstrap.php.cache
app/bootstrap_cache.php.cache
app/config/parameters.ini
app/config/parameters.yml
app/SymfonyRequirements.php
app/cache/*
app/logs/*
app/sessions/
bin/*
vendor/*

web/bundles/*
web/uploads/*
web/vendor/*

composer.phar

.*.sw[a-z]
*.un~
Session.vim
.netrwhist

.idea/

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*~

